@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #183b56;
}

p {
  font-family: "Roboto", sans-serif;
  color: #577592;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  overflow: hidden;
}

nav {
  background-color: #f3faff;
  box-shadow: 0 0 4px #bbd0e2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.main-nav {
  justify-content: space-between;
  padding: 8px 0;
}

.logo img {
  width: 120px;
}

.nav-link ul {
  gap: 16px;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  color: #577592;
}

.hover-link:active {
  color: #1071cc;
}

.search-bar {
  height: 32px;
  gap: 8px;
}

.news-input {
  width: 200px;
  height: 100%;
  padding-inline: 12px;
  border-radius: 4px;
  border: 2px solid #bbd0e2;
  font-family: "Roboto", sans-serif;
}

.search-button {
  background-color: #2294ed;
  color: white;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.search-button:hover {
  background-color: #0a5e9e;
}
